@if(isLoading$ | async){
<div class="progress-spinner">
  <mat-spinner diameter="50"></mat-spinner>
</div>
} @if(briefingData$ | async){ @if(!errorMessage){
<div class="briefing-table-container">
  @for(stationId of getStationIds(); track stationId){
  <h3 class="briefing-station-id">{{ stationId }}</h3>
  <table class="briefing-table">
    <thead>
      <tr>
        <th>Report Type</th>
        <th>Reception Time</th>
        <th>Report Time</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      @for(result of groupedBriefingData[stationId]; track result.queryType){
      <tr>
        <td>{{ result.queryType }}</td>
        <td>{{ result.receptionTime | date : "short" }}</td>
        <td>{{ result.reportTime | date : "short" }}</td>
        <td [innerHTML]="result.text | highlight"></td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
} @else{
<div class="error-message-container">
  <mat-card appearance="outlined">
    {{ errorData?.message }}
  </mat-card>
</div>
} } @if(noDataFound){
<div class="error-message-container">
  <mat-card appearance="outlined">
    No Data found based on your search criteria, please modify your search.
  </mat-card>
</div>
}
